<strong>Bet</strong>
<table class="table">
	<thead>
		<tr>
			<th>a</th>
			<th>b</th>
			<th>c</th>
			<th>d</th>
			<th>e</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<div class="field">
				<%= f.label :result %><em> (20 Pts)</em>
				<br>
				<%= f.select :result , {'Draw'=>0,'Team 1'=>1,'Team 2'=>2} , :include_blank => true %>
			</div></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>