<strong>Matches (Close)</strong>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Date/Time</th>
			<th>Description</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>Result</th>
			<th>Score</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="match in matches">
			<td>{{match.id}}</td>
			<td>{{match.match}}</td>
			<td>{{match.description}}</td>
		</tr>
	</tbody>
</table>


