<!--
<div class="row" ng-controller="PlayerInfoCtrl">
	<div class="col-md-8">
		<%= render 'main/information' %>
	</div>
</div>

<div class="row" ng-controller="MatchesCtrl">
	<p>
		{{matches}}
	</p>
	<div class="col-md-6">
		<%= render 'ang/matches_close' %>
	</div>
</div>-->


<div class="row" ng-controller="BetsContrl">
	<p>
		{{bets}}
	</p>
	<div class="col-md-12">
		<%= render 'ang/bets' %>
	</div>
</div>