<h3>การลงทะเบียนผู้เล่นใหม่</h3>
<ol>
	<li>
		login ผ่านบัญชี facebook
	</li>
	<li>
		ลงทะเบียนผู้เล่นใหม่ที่ เมนู Player คลิก New Player
	</li>
	<li>
		กรอกข้อมูลชื่อที่ใช้เล่นเกมส์
	</li>
	<li>
		เลือก Favorite team (จะคิดคะแนน bonus เพิ่มอีก 10% เมื่อทีมเลือกลงแข่งขัน)
	</li>
</ol>
<p>
	<small>*ระบบจะปิดการลงทะเบียนและแก้ไขข้อมูลผู้เล่น ในวันที่ 12 Jun 2014 18.00 น.</small>
</p>
<p>
	<small>*ระบบจะเปิดให้แก้ไขข้อมูลผู้เล่นอีกครั้ง ในวันที่ 28 Jun 2014 (สิ้นสุดรอบแบ่งกลุ่ม ) และปิดในเวลา 18.00 น.</small>
</p>

<h3>การทายผลการแข่งขัน</h3>
<ol>
	<li>
		ทายผลการแข่งขันที่ เมนู Bet คลิกที่ bet
	</li>
	<li>
		ระบบเปิดให้ทายผลได้ 7 หัวข้อดังต่อไปนี้ <em>(การคิดคะแนนแยกกันตามแต่ละหัวข้อ)</em>
	</li>
	<ul>
		<li>
			Result(90 minutes 10 Pts) <em>ผลการแข่งขันในเวลา 90 นาที (Draw,Team1,Team2)</em>
		</li>
		<li>
			Team1 score(15 Pts) <em>จำนวนประตูที่ team 1 ทำได้ (0-100)</em>
		</li>
		<li>
			Team2 score(15 Pts) <em>จำนวนประตูที่ team 2 ทำได้ (0-100)</em>
		</li>
		<li>
			Penalty(10 Pts) <em>มีการยิงลูกจุดโทษในเวลาแข่งขัน 90 นาที (true,false)</em>
		</li>
		<li>
			Yellow card > 3(10 Pts) <em>มีใบเหลืองในเกมส์การแข่งขัน 90 นาที มากกว่า 3 ใบ (true,false)</em>
		</li>
		<li>
			Red card(20 Pts) <em>มีใบแดงเกิดขึ้นในเกมส์การแข่งขัน 90 นาที (true,false)</em>
		</li>
		<li>
			Own goal(20 Pts) <em>มีการทำเข้าประตูตัวเอง (true,false)</em>
		</li>
	</ul>
	<li>
		คลิก update bet
	</li>
</ol>
<p>
	<small>*ระบบจะปิดการทายผลตามรอบวันที่แข่งขันในเวลาประมาณ 18.00 น.</small>
</p>

<h3>การคำนวนคะแนน</h3>
<ol>
	<li>
		ในกรณีที่ผู้เล่นไม่ได้เข้ามาทายผล ระบบมีการ random การทายผลให้
	</li>
	<li>
		Bonus favorite team จะบวกเพิ่ม 10% ของคะแนนที่ได้ให้เมื่อทีมที่เลือกลงแข่งขัน
	</li>
</ol>

